<header class="header-container">
  <div class="logo-n-name-container">
    <img src="app-logo.svg" alt="Logo" class="app-logo" />
    <div>
      <p>Create your</p>
      <h1>Dream Team</h1>
    </div>
  </div>

  <nav class="nav-container">
    <ul>
      <li>
        <a [routerLink]="['about']" [icon-button]="'help'"></a>
      </li>
    </ul>
  </nav>
</header>

<main
  [ngClass]="
    playersSvc.httpState() == 'success'
      ? 'main-container'
      : 'main-container-preload'
  "
>
  @if (playersSvc.httpState()== 'success') {
  <section class="available-players-section">
    <div class="section-title-bar">
      <h1>Available Players</h1>

      <div>There are {{ playersSvc.players().length }} players available.</div>
    </div>

    @if (showInitialAlert()) {
    <app-alert (close)="onAlertClose()" [dismissible]="true">
      <span>Click select button to add a player to your team.</span>
    </app-alert>
    }

    <div class="available-players-container">
      <app-available-player
        *ngFor="let player of playersSvc.players(); index as i"
        [player]="player"
        (select)="onSelectClick($event)"
      ></app-available-player>
    </div>
  </section>

  <section class="selected-players-section">
    <div class="section-title-bar hide-on-big-devices">
      @if (playersSvc.selectedTeam().total==0) {
      <p>No players are selected yet.!</p>
      } @else {
      <h1>Dream Team's Players</h1>
      }
    </div>
    <div class="section-title-bar hide-on-small-devices">
      <app-team-status
        [title]="'Dream Team\'s Players'"
        [team]="playersSvc.selectedTeam()"
      />
    </div>

    @if (playersSvc.selectedTeam().total>0) {
    <div class="selected-players-bg">
      <div class="errors-container">
        @if (playersSvc.selectedTeam().errorWicketKeepers) {
        <app-alert [type]="'warn'">❗ A Wicket Keeper is required.</app-alert>
        } @if (playersSvc.selectedTeam().errorBatters) {
        <app-alert [type]="'warn'">
          ❗ Minimum {{ playersSvc.rule.batsmen.minimum }} Batsmen are required.
        </app-alert>
        } @if (playersSvc.selectedTeam().errorBowlers) {
        <app-alert [type]="'warn'">
          ❗ Minimum {{ playersSvc.rule.bowlers.minimum }} Bowlers are required.
        </app-alert>
        }
      </div>

      <div class="selected-players-container">
        <app-selected-player
          *ngFor="let player of playersSvc.selectedPlayers(); index as i"
          [player]="player"
          (remove)="playersSvc.removePlayer($event)"
        ></app-selected-player>
      </div>
    </div>
    }
  </section>

  <section class="team-quick-view-section">
    <app-team-status
      [title]="'Dream Team'"
      [team]="playersSvc.selectedTeam()"
    />
  </section>

  }@else {
  <section>
    <div>Loading data.. please wait.</div>
  </section>
  }
</main>
