<header class="row-container">
  <div class="logo-container">Logo</div>

  <h1>Create your Dream Team</h1>

  <nav>
    <ul>
      <li>About this app</li>
    </ul>
  </nav>
</header>

<main class="row-container">
  <section class="players">
    <h1>Available Players</h1>

    <app-alert>
      <span>Click select button to add a player to your team.</span>
    </app-alert>

        <p>There are {{ playersSvc.players().length }} players available.</p>
  </section>

  <section class="selected-players">
    <h1>Selected Players</h1>
    <p>
      There are no players available in your team. Create your Dream team by
      selecting Players.
    </p>
  </section>

  <router-outlet />
</main>

<footer></footer>
