<header class="row-container">
  <div class="logo-container">Logo</div>

  <h1>Create your Dream Team</h1>

  <nav>
    <ul>
      <li>About this app</li>
    </ul>
  </nav>
</header>

<main class="row-container">
  <section class="players-section">
    <h1>Available Players</h1>

    @if (showInitialAlert()) {
    <app-alert (close)="onAlertClose()">
      <span>Click select button to add a player to your team.</span>
    </app-alert>
    }

    <p>There are {{ playersSvc.players().length }} players available.</p>

    <div class="available-players-container">
      <app-available-player
        *ngFor="let player of playersSvc.players(); index as i"
        [player]="player"
        (select)="playersSvc.selectPlayer($event)"
      ></app-available-player>
    </div>
  </section>

  <section class="selected-players">
    @if (playersSvc.selectedPlayers().length==0) {
    <p>
      There are no players available in your team. Create your Dream team by
      selecting Players.
    </p>
    } @else {
    <h1>Selected Players</h1>

    <div class="team-statistic-container">
      <div class="statistic">
        <span class="title">Total: </span>
        <span class="value">{{ playersSvc.selectedTeam().total }}</span>
      </div>

      <div class="statistic">
        <span class="title">Wicket Keeper: </span>
        <span class="value">{{ playersSvc.selectedTeam().wicketKeeper }}</span>
      </div>

      <div class="statistic">
        <span class="title">Batters: </span>
        <span class="value">{{ playersSvc.selectedTeam().batters }}</span>
      </div>

      <div class="statistic">
        <span class="title">Bowlers: </span>
        <span class="value">{{ playersSvc.selectedTeam().bowlers }}</span>
      </div>

      <div class="statistic">
        <span class="title">All Rounders: </span>
        <span class="value">{{ playersSvc.selectedTeam().allRounders }}</span>
      </div>
    </div>

    <div>
      <app-selected-player
        *ngFor="let player of playersSvc.selectedPlayers(); index as i"
        [player]="player"
        (remove)="playersSvc.removePlayer($event)"
      ></app-selected-player>
    </div>
    }
  </section>

  <router-outlet />
</main>

<footer></footer>
