<div class="title-container">
  <img [src]="player().image" class="player-avatar" />
  <div>
    <h3 class="name">{{ player().name }}</h3>

    <div class="personal-row">
      <span>Age: {{ player().age }}</span>
      <span>Grade: {{ player().grade }}</span>
    </div>

    <div class="role-row">
      <img [src]="roleIcon()" alt="role icon"/>
      <span class="role">{{ player().role }}</span>
    </div>
  </div>
</div>

<div class="controls-container">
  <button
    (click)="onSelectClick($event, player().id)"
    [disabled]="player().selected"
  >
    Select
  </button>
</div>
