/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: hsl(173, 51%, 22%);
  /* --secondary-color: hsl(268, 100%, 90%); */
  --surface-color: hsl(69, 76%, 95%);

  --on-primary: hsl(0, 0%, 100%);
  --on-surface: hsl(29, 100%, 5%);
  --on-surface-light: hsl(28, 18%, 33%);

  --warning-color: hsl(19, 98%, 48%);
  --border-color-light: hsl(0, 0%, 93%);

  --btn-primary-color: hsl(173, 51%, 22%);
  --btn-primary-hover-color: hsl(173, 51%, 50%);

  --drop-shadow-color: hsla(0, 0%, 15%, 0.15);

  --info-bg-color: hsl(212, 100%, 73%);
  --info-text-color: hsl(212, 74%, 14%);
  --info-border-color: hsl(212, 70%, 55%);

  --warn-bg-color: hsl(46, 100%, 71%);
  --warn-text-color: hsl(41, 75%, 24%);
  --warn-border-color: hsl(41, 82%, 63%);

  --error-bg-color: hsl(17, 92%, 81%);
  --error-text-color: hsl(0, 100%, 31%);
  --error-border-color: hsl(17, 85%, 35%);

  --success-bg-color: hsl(128, 92%, 81%);
  --success-text-color: hsl(101, 98%, 17%);
  --success-border-color: hsl(130, 85%, 35%);
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Use a value from 100 to 900*/
  font-style: normal;
  font-variation-settings: "wdth" 100;

  padding: 0;
  margin: 0;
}

/** Styles applicable for all devices **/

button {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--btn-primary-color);
  border: none;
  border-radius: 4px;
  color: var(--on-primary);
  text-align: center;
}

button:not(:disabled):hover {
  background-color: var(--btn-primary-hover-color);
}

button:disabled {
  opacity: 0.65;
  cursor: default;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.player-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: thin solid;
  border-color: var(--border-color-light);
  background-color: white;
}

.alert-cmp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  border: solid thin;
  border-radius: 0.5rem;

  button {
    background: none;
    color: inherit;
  }

  button:hover {
    background: none;
  }
}

.info {
  background-color: var(--info-bg-color);
  color: var(--info-text-color);
  border-color: var(--info-border-color);
}

.warn {
  background-color: var(--warn-bg-color);
  color: var(--warn-text-color);
  border-color: var(--warn-border-color);
}

.error {
  background-color: var(--error-bg-color);
  color: var(--error-text-color);
  border-color: var(--error-border-color);
}

.success {
  background-color: var(--success-bg-color);
  color: var(--success-text-color);
  border-color: var(--success-border-color);
}
/***********************/

.header-container {
  background-color: var(--primary-color);
  color: var(--on-primary);
  padding: 1rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .logo-n-name-container {
    display: flex;
    gap: 1rem;
    align-items: center;

    h1 {
      font-weight: bolder;
    }

    .app-logo {
      width: 3rem;
      aspect-ratio: 1;
    }
  }

  a{
    color: var(--on-primary);
  }
}

.nav-container {
  /* display: none; */
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  padding: 1rem 1rem;

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.section-title-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.available-players-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.available-player-cmp {
  background-color: var(--surface-color);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: thin solid var(--border-color-light);
  filter: drop-shadow(1px 2px 2px var(--drop-shadow-color));

  .title-container {
    display: flex;
  }

  .name {
    font-weight: 350;
    color: var(--on-surface);
    margin-bottom: 0.25rem;
  }

  p {
    font-size: 0.95rem;
    color: var(--on-surface-light);
  }
  .controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.selected-players-bg {
  background-color: white;
  border: solid thin var(--border-color-light);
  border-radius: 1rem;
  padding: 1rem;
  padding-bottom: 3rem;
  filter: drop-shadow(1px 2px 2px var(--drop-shadow-color));
}

.selected-player-cmp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 0rem;
  border-bottom: solid thin var(--border-color-light);
}

.flex-grow {
  flex-grow: 1;
}

.errors-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.team-statistic-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem 0rem;
}

.statistic {
  .title {
    color: var(--on-surface);
    font-weight: 400;
  }
  .value {
    color: var(--on-surface-light);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-container {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-container {
    display: block;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .team-statistic-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
